<li class="nav-item">
    <a href="{{ path('app_dossier_new') }}" class="nav-link" data-key="t-analytics">
        <i class="ri-folder-add-fill"></i> <span data-key="t-dashboards">Saissir une nouvelle requete</span>
    </a>
</li>
<li class="nav-item">

    <a href="{{ path('app_dossier_index') }}" class="nav-link">
        <i class="ri-folder-add-fill"></i> <span data-key="t-dashboards">Liste des requetes</span>
    </a>


</li>
<li class="nav-item">
    <a href="{{ path('app_dossier_open_list') }}" class="nav-link" data-key="t-analytics">
        <i class="ri-folder-add-fill"></i>
        Liste des dossiers ouverts

    </a>
</li>