{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0"> {% include'partials/_intitule_dossier.html.twig' %}</h4>
                </div><!-- end card header -->

                <div class="card-body">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button class="btn btn-outline-primary la-pull-right">{{ button_label|default('Publier l\'arrêt') }}</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}


