
.vertical-navs-step .nav {
    gap: 16px;
}
.vertical-navs-step .nav .nav-link {
    text-align: left;
    background-color: rgba(var(--vz-light-rgb), 0.4);
    border: 1px solid #2a4562;
    color: #ced4da;
}
.vertical-navs-step .nav .nav-link .step-title {
    font-weight: var(--vz-font-weight-semibold);
}
.vertical-navs-step .nav .nav-link .step-icon {
    color: var(--vz-danger);
    vertical-align: middle;
    font-weight: var(--vz-font-weight-medium);
    float: left;
}
.vertical-navs-step .nav .nav-link.active .step-icon, .vertical-navs-step .nav .nav-link.done .step-icon {
    color: var(--vz-success);
}
.vertical-navs-step .nav .nav-link.active .step-icon:before, .vertical-navs-step .nav .nav-link.done .step-icon:before {
    content: "\eb80";
}
.vertical-navs-step .nav .nav-link.active {
    border-color:#066b5e;
}
.vertical-navs-step .nav .nav-link.done {
    border-color: #3cd188;
}

.nav-custom-outline.nav .nav-link {
    border: 1px solid transparent;
    border-bottom: 2px solid transparent;
}
:is(.nav-tabs, .nav-pills) > li > a {
    color: var(--vz-body-color);
    font-weight: var(--vz-font-weight-medium);
}

.nav-pills > a {
    color: var(--vz-body-color);
    font-weight: var(--vz-font-weight-medium);
}

.nav-pills :is(.nav-link.active, .show > .nav-link) {
    -webkit-box-shadow: var(--vz-element-shadow);
    box-shadow: var(--vz-element-shadow);
}
.custom-verti-nav-pills .nav-link {
    background-color: var(--vz-light);
    margin-top: 7px;
    position: relative;
}
@media (min-width: 992px) {
    .custom-verti-nav-pills .nav-link::before {
        content: "";
        position: absolute;
        right: -20px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        border: 12px solid transparent;
        border-left-color: transparent;
        -webkit-transition: border-left-color 0.04 ease;
        transition: border-left-color 0.04 ease;
    }
    .custom-verti-nav-pills .nav-link.active::before {
        border-left-color: var(--vz-primary);
    }
}
.nav-primary.custom-verti-nav-pills .nav-link.active::before {
    border-left-color: var(--vz-primary);
}
.nav-secondary.custom-verti-nav-pills .nav-link.active::before {
    border-left-color: var(--vz-secondary);
}
.nav-success.custom-verti-nav-pills .nav-link.active::before {
    border-left-color: var(--vz-success);
}
.nav-info.custom-verti-nav-pills .nav-link.active::before {
    border-left-color: var(--vz-info);
}
.nav-info.nav-custom-outline .nav-link.active {
    color: var(--vz-info);
    border-color: var(--vz-info);
}
.vertical-navs-step .nav {
    gap: 16px;
}
.vertical-navs-step .nav .nav-link.active {
    border-color: #066b5e;
}
.vertical-navs-step .nav .nav-link {
    text-align: left;
    background-color: #f3f6f966;
    border: 1px solid  #2a4562;
    color: #212529;
}
.nav-pills :is(.nav-link.active,.show>.nav-link) {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.nav-pills .nav-link {
    border-radius: var(--vz-nav-pills-border-radius);
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--vz-nav-pills-link-active-color);
    background-color: var(--vz-nav-pills-link-active-bg);
}
.vertical-navs-step .nav .nav-link .step-title {
    font-weight:600;
}
.me-2 {
    margin-right: .5rem !important;
}
.vertical-navs-step .nav .nav-link .step-icon {
    color: #f7666e;
    vertical-align: middle;
    font-weight: var(--vz-font-weight-medium);
    float: left;
}
/*#f3f6f966*/
.vertical-navs-step .nav .nav-link.active .step-icon, .vertical-navs-step .nav .nav-link.done .step-icon {
    color: #3cd188;
}
.card{
    margin-bottom: 1.5rem
}
.btn-label {
    position: relative;
    padding-left: 44px;
}
.btn-label.right {
    padding-left: .9rem;
    padding-right: 44px;
}
.btn-label .label-icon {
    position: absolute;
    width: 35.5px;
    left: calc(var(--vz-border-width)* -1);
    top: calc(var(--vz-border-width)* -1);
    bottom: calc(var(--vz-border-width)* -1);
    background-color: rgba(255, 255, 255, .1);
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.btn-label.right .label-icon {
    right: calc(var(1px)* -1);
    left: auto;
}
