<form method="post" action="{{ path('app_affecter_structure_delete', {'id': affecter_structure.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ affecter_structure.id) }}">
    <button class="btn">Delete</button>
</form>
