<div class="container">
    <div class="row">
        <div class="col-md-10">
            <p>Bonjour Monsieur/Madame {{ user.fullname }}. Votre lien de connexion a été crée et il s'expire dans 1h.
            </p>
            <table>
                <tbody>

                <tr>
                    <th>Lien de Connexion:</th>
                    <td><a href="{{ lien }}">Se connecter</a> </td>
                </tr>

                </tbody>
            </table>


        </div>
    </div>
</div>
