{% extends 'base.html.twig' %}

{% block title %}New AffecterStructure{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">
                        {% include 'partials/_intitule_dossier.html.twig' %}
                    </h4>
                    <h4 class="card-title mb-0">
                        Affectation du dossier au parquet general
                    </h4>
                </div><!-- end card header -->

                <div class="card-body">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button class="btn btn-success">{{ button_label|default('Affecter au parquet general') }}</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
