{# templates/auth-pass-reset-basic.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Réinitialiser mot de passe{% endblock %}

{% block body %}
    <h1>Réinitialisation du mot de passe</h1>

    <p>Formulaire de réinitialisation du mot de passe.</p>
{% endblock %}
