{% apply inline_css(source("@styles/bootstrap.min.css"),source("@styles/icons.min.css")
    ,source("@styles/app.min.css"),source("@styles/custom.min.css")) %}
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <p>Bonjour Monsieur/Madame {{ nom }}.</p>
            <p>L'audience de votre dossier : {{ dossier.intituleObjet }} est programmée.
                <a href="{{ absolute_url(asset(dossier.pathCalendrier)) }}" target="_blank">
                    <strong style="color:blue;">Veuillez cliquer ici</strong>
                </a> pour voir la programmation et télécharger le rôle.
            </p>
        </div>

    </div>
</div>
{% endapply %}
